name: Lint PR

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - run: yarn install --frozen-lockfile

      - name: Lint PR Title
        run: node ./.github/scripts/lint-pr-title.js
        env:
          GITHUB_TOKEN: ${{secrets.REPO_TOKEN}}
          PR_NUMBER: ${{ github.event.number }}
          
